.signup {
    background: #F5F5F5;
    min-height: 500px;
    font-family: 'MontserratAlternates-Thin';
    padding-bottom: 50px;

    &__wrapper {
        position: relative;
        display: flex;
        margin-top: 50px;
        justify-content: center;
        align-items: center;
    }

    &__input {
        position: relative;
        z-index: 2;
        width: 265px;
        height: 46px;
        background: #F5F5F5;
        border-radius: 10px;
        border: 1px solid #979797;
        color: #BEBDBD;
        font-size: 15px;
        padding: 14px;

        &:nth-child(2) {
            margin-left: 26px;
        }
    }

    .arrow {
        margin: 0 5px 0 5px;
        width: 85px;
        height: 30px;
    }

    .leaf {
        position: absolute;
        right: 5%;
        top: -120%;
        z-index: 1;
    }

    &__title {
        position: relative;
        font-family: 'Spectral SC';
        margin-top: 70px;
        text-align: center;
        color: #000;
        font-family: Spectral SC;
        font-size: 32px;
        font-weight: 100;
        z-index: 2;
    }

    &__timer {
        width: 500px;
        margin: 0 auto;
        margin-top:30px;
        display:flex;
        justify-content:space-between;
        align-items:center;
    }

    .dots {
        font-size: 32px;
        font-weight: 700;
    }

    &__timerBlock{
        width:102px;
        height:120px;
        background:#fff;
        box-shadow:0 4px 20px rgba(0,0,0,.25);
        font-size:16px;
        font-weight:300;
        text-align:center;
        transition: all .5s;
        
        span{
            display:block;
            margin-top:20px;
            margin-bottom:5px;
            font-size:56px;
            font-weight:700
        }
    }

    .percentages{
        color: #F02727;
    }

    &__human {
        margin: 20px auto;
        &_h3 {
            text-align: center;
            font-size: 24px;
        }
    }

    &__box {
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }

    &__info {
        position: relative;
        width: 520px;
        margin-left: 30px;
    }

    &__total {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 2;
        width: 200px;
        height: 80px;
        background-color: #87B24A;
        padding: 5px;
        text-align: center;
        border-radius: 7px;
        margin: 0 auto;
    }

    &__subtitle {
        font-size: 24px;
        font-weight: 700;
        color: #ffffff;
        text-transform: uppercase;
    }

    &__price {
        margin-top: 5px;
        border-top: 1px solid #fff;
        font-size: 24px;
        color: #fff;
        span {
            font-family: 'MontserratAlternates-Regular';
            color: #d12222;
            font-size: 32px;
        }
    }

    .interactive-path {
        fill: transparent;
        transition: all .5s;
        transform: translateX(8px);
        cursor: pointer;
      }
      .interactive-active {
        fill: rgba(0, 0, 0, 0.5);
      }
      
      .interactive-path:hover {
        fill: lightgray;
      }
      
      .interactive-path:hover {
        fill: rgba(0, 0, 0, 0.3);
      }
      #body {
        transform: translateY(44px);
      }
      #arms {    
        transform: translate(25px,69px);
      }
      #legs {   
         transform: translate(12px,200px);
      }
    &__content {
        opacity: 0;
        position: absolute;
        transform: translateY(-50px);
        transition: all .5s;
        padding-bottom: 15px;
    }
    &__show {
        position: static;
        opacity: 1;
        transform: translateY(0px);
    }
}